@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

header {
  font-family: Montserrat, sans-serif;
  color: #000;
}

#title {
  height: 2px;
}
