@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

#mapid {
  width: 100%;
  height: 94vh;
}

body {
  background-color: #222;
}

.home-button {
  padding-left: 20px;
  font-family: Montserrat, sans-serif;
  color: #AAA;
}

.guide-button   {
  padding-left: 20px;
  font-family: Montserrat, sans-serif;
  color: #AAA;
}

.reload-button {
  padding-left: 20px;
  font-family: Montserrat, sans-serif;
  color: #AAA;
}

.map-button {
  padding-left: 20px;
  font-family: Montserrat, sans-serif;
  color: #AAA;
}

.sidenav {
  background-color: #222;
  color: #AAA;
  font-family: Montserrat, sans-serif;
}


.brand-logo {
  font-family: Montserrat,sans-serif;
  color: #AAA;
}

.logo-head {
  font-family: Montserrat, sans-serif;
  color: #AAA;
  padding-left: 1200px;
}

h6 {
  color: #BBB;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  text-align: right;
}

.slider {
  font-family: Comfortaa, sans-serif;
}

.leaflet-control-layers  {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 12px;
}

.leaflet-control-layers-expanded {
  color: #222;
  font-size: 2px;
  background: #222;
  padding: 6px 10px 6px 6px;
  margin: 0px 0px 0px 0px;
  color: #DDD;
}

.leaflet-control-layers-separator {
	height: 0;
  margin: 5px -10px 5px -6px;
	}

#modal1 {
  background-color: #AAA;
}

.sidebar-text {
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  color: #ddd;
}

#lkplatitude, #lkplongitude, #tkflatitude, #tkflongitude, #ldglatitude, #ldglongitude, #vel, #alt, #hdg, #idt{
  height: 22px;
  color: #ddd;
  font-size: 14px;
  margin-top: 0px;
}

label {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #ddd;
}

.input-store {
  background-color: #222;
  float: right;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 14px;
  border-width: 0px;
  width: 82px;
  height: 32px;
  color: #fff;
}

#notification {
  position: relative;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: rgb(204, 0, 0);
  margin-top: 30px;
}

#dynamic-list {
  color: #AAA;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

#element {
  background-color: #222;
  margin-top: 10px;
  border-width: 0px;
  height: 32px;
  width: 90%;
  color: #fff;
}